<header>
  <div fxLayout="row" fxLayoutAlign="space-between left">
    <div fxLayout="row" fxLayoutGap="20px">
      <img src="https://cdn.booklick.net/public/img/Logo_Booklick_White.svg" alt="Smiley face" width="224" height="70"
           class="responsive">

      <a routerLink="/login">
        <p>About</p>
      </a>
      <a routerLink="/registration">
        <p>Meet the Team</p>
      </a>

    </div>
  </div>
</header>


<div class="backgroundM" fxFlex>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 desc">
        <div class="row">
          <p id="descTit"> LA RED DE APRENDIZAJE Y CONOCIMIENTO</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6 but1">
            <button type="button" routerLink="/newLogin" class="btn btn-primary btn-round-lg btn-lg one">Join</button>
          </div>
          <div class="col-sm-6 but2">
            <button type="button" routerLink="/login" class="btn btn-primary btn-round-lg btn-lg">Login</button>
          </div>
        </div>
      </div>

      <div class="col-sm-8 profile">
        <img src="/assets/img/Profiles.png" alt="Smiley face" width=550 class="responsive">

      </div>
    </div>
  </div>
</div>

